.fixed-top{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
 }

.btn-whatsapp {
    display:block;
    width:70px;
    height:70px;
    color#fff;
    position: fixed;
    right:20px;
    bottom:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}

.about-img{
    width: 100%;
    padding: 20px;
}

.taller-img{
    width: 100%;
    padding: 20px;
    height: 300px;
}